<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document Procurement Report</title>
	<style>
		.header{
			font-size: 24px;
			font-weight: bold;
			text-align: center;
		}
		th {
			margin-right: 100px;
		}
	</style>
</head>
<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>
						<img src="C:\Users\irvan sindy\Pictures\Saved Pictures\pralon-assets/logo.jpg" alt="Logo Pralon" width="100px">
						<!-- <p class="header" style="color: #7D9D9C;">ICT Item Request Form 1</p> -->
					</th>
					<th>
						<p class="header" style="color: #610C63;">ICT Item Request Form 2</p>
						<p class="header" style="color: #610C63;">PT. Pralon</p>
						<p class="header" style="color: #610C63;">Cimanggis</p>
					</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>